body
{
    margin: 0;
    background: black;
    color: wheat;
}
nav
{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#brand
{

}
#links
{
    list-style-type: none;
    display: flex;
    padding: 5px
}
#links li
{
    padding: 5px;
}
